.card {
    border-radius: 40px !important;
    width: 100% !important;
    max-width: 650px !important;
}

.chat-wrapper {
    display: flex ;
    border-radius: 25px ;
    align-content: center ;
    justify-content: center ;
    align-items: center ;
    height: inherit;
    padding: 2em;
}

.form-check-input:checked {
    background-color: #15913a;
    border-color: #0dfd1d;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #ced4da !important;
}

.form-control:focus{
    color: #212121 !important;
    background-color: #fff !important;
    border-color: #15913a !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .25rem rgba(13, 254, 53, 0.25) !important;
}

.form-select:focus{
     box-shadow: 0 0 0 .25rem rgba(13, 254, 53, 0.25) !important;
}
